@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* ------------------------------------------------- */

:root {
    --bg: #622F1B;
    --btn: #C08552;
    --maintext: #FFFFFF;
    --quotebg: #EAD8C0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    justify-items: center;
    font-family: Roboto;
}

header {
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 5px;
    background-color: var(--bg);
    color: var(--maintext);
}

header > div {
    width: 1200px;
    display: grid;
    grid-template: 1fr / repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}

header > div > div {
    width: 100px;
    height: auto;
}

header > div > div:hover {
    cursor: pointer;
}

header > div > nav {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 10px;
}

nav > button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--maintext);
}

nav > button:hover {
    font-weight: 700;
}

main {
    width: 100%;
    height: 100%;
    justify-items: center;
}

.content--menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: min-content repeat(auto-fit, minmax(200px, 1fr)) / 1fr;
    justify-items: center;
    align-items: center;
}

/* Menu header */
.menu-header-wrapper {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 150px;
    justify-items: center;
    align-content: center;
    background-color: var(--bg);
}

.menu-header {
    width: 1200px;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 3.5rem;
    color: var(--maintext);
}

/* Coffee section */
.coffee-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(2, min-content) / 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 50px;
    padding-bottom: 50px;
    background-color: var(--bg);
}

.coffee-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.coffee-based-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr max-content 20% 20%;
    justify-items: center;
    column-gap: 20px;
}

.coffee-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/coffee-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coffee-flavor-card {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #C08552;
    color: #000000;
    border: 2px solid #C08552;
}

.coffee-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.coffee-flavors {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(8, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.coffee-hot {
    grid-area: 1 / 3 / 2 / 4;
}

.coffee-cold {
    grid-area: 1 / 4 / 2 / 5;
}

.coffee-hot,
.coffee-cold {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content min-content / 1fr 1fr;
    padding: 20px;
    border: 2px solid #FFFFFF;
    color: var(--maintext);
}

.coffee-hot-text,
.coffee-cold-text {
    grid-area: 1 / 1 / 2 / span 2;
    justify-self: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.coffee-hot-regular,
.coffee-cold-regular {
    grid-area: 2 / 1 / 3 / 2;
}

.coffee-hot-large,
.coffee-cold-large {
    grid-area: 2 / 2 / 3 / 3;
}

.coffee-hot-regular,
.coffee-hot-large,
.coffee-cold-regular,
.coffee-cold-large {
    width: 100%;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.coffee-hot-regular-prices,
.coffee-cold-regular-prices {
    grid-area: 3 / 1 / 4 / 2;
}

.coffee-hot-large-prices,
.coffee-cold-large-prices {
    grid-area: 3 / 2 / 4 / 3;
}

.coffee-hot-regular-prices,
.coffee-hot-large-prices,
.coffee-cold-regular-prices,
.coffee-cold-large-prices {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
}

.coffee-hot-regular-prices p::before,
.coffee-hot-large-prices p::before,
.coffee-cold-regular-prices p::before,
.coffee-cold-large-prices p::before {
    content: "\20B1";
}

/* Special Coffee section */
.special-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.special-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / max-content 20% 1fr;
    justify-items: center;
    column-gap: 20px;
}

.special-flavor-card {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #C08552;
    color: #000000;
    border: 2px solid #C08552;
}

.special-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.special-flavors {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.special-cold {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr min-content / 1fr 1fr;
    padding: 20px;
    border: 2px solid #FFFFFF;
    color: var(--maintext);
}

.special-cold-text {
    grid-area: 1 / 1 / 2 / span 2;
    justify-self: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.special-cold-regular {
    grid-area: 2 / 1 / 3 / 2;
}

.special-cold-regular-prices {
    grid-area: 2 / 2 / 3 / 3;
}

.special-cold-regular,
.special-cold-large {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.special-cold-regular-prices {
    grid-area: 3 / 1 / 4 / 2;
}

.special-cold-large-prices {
    grid-area: 3 / 2 / 4 / 3;
}

.special-cold-regular-prices,
.special-cold-large-prices {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
}

.special-cold-regular-prices p::before,
.special-cold-large-prices p::before {
    content: "\20B1";
}

.special-img {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: 100%;
    background-image: url(../assets/special-coffee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Non-coffee section */
.non-coffee-wrapper {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(2, min-content) / 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 50px;
    padding-block: 50px;
    background-color: #FFFFFF;
}

.non-coffee-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.non-coffee-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr max-content 20%;
    justify-items: center;
    column-gap: 20px;
}

.non-coffee-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/non-coffee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.non-coffee-flavor-card {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #000000;
    color: #C08552;
    border: 2px solid #000000;
}

.non-coffee-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.non-coffee-flavors {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(6, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.non-coffee-size {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    padding: 20px;
    border: 2px solid #000000;
}

.non-coffee-regular {
    grid-area: 1 / 1 / 2 / 2;
}

.non-coffee-large {
    grid-area: 1 / 2 / 2 / 3;
}

.non-coffee-regular,
.non-coffee-large {
    width: 100%;
    height: 120px;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.non-coffee-regular-prices {
    grid-area: 2 / 1 / 3 / 2;
}

.non-coffee-large-prices {
    grid-area: 2 / 2 / 3 / 3;
}

.non-coffee-regular-prices,
.non-coffee-large-prices {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
}

.non-coffee-regular-prices p::before,
.non-coffee-large-prices p::before {
    content: "\20B1";
}

/* Matcha section */
.matcha-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.matcha-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / max-content 20% 1fr;
    justify-items: center;
    column-gap: 20px;
}

.matcha-flavor-card {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #000000;
    color: #C08552;
    border: 2px solid #000000;
}

.matcha-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.matcha-flavors {
    display: grid;
    grid-template: repeat(4, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.matcha-size {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    padding: 20px;
    border: 2px solid #000000;
}

.matcha-regular {
    grid-area: 1 / 1 / 2 / 2;
}

.matcha-large {
    grid-area: 1 / 2 / 2 / 3;
}

.matcha-regular,
.matcha-large {
    width: 100%;
    height: 60px;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.matcha-regular-prices {
    grid-area: 2 / 1 / 3 / 2;
}

.matcha-large-prices {
    grid-area: 2 / 2 / 3 / 3;
}

.matcha-regular-prices,
.matcha-large-prices {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
}

.matcha-regular-prices p::before,
.matcha-large-prices p::before {
    content: "\20B1";
}

.matcha-img {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: 100%;
    background-image: url(../assets/matcha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fruit-based section */
.fruit-based-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.fruit-based-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr max-content 20%;
    justify-items: center;
    column-gap: 20px;
}

.fruit-based-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/fruit-based.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fruit-based-flavor-card {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #000000;
    color: #C08552;
    border: 2px solid #000000;
}

.fruit-based-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.fruit-based-flavors {
    display: grid;
    grid-template: repeat(4, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.fruit-based-size {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: min-content 1fr / 1fr 1fr;
    padding: 20px;
    border: 2px solid #000000;
}

.fruit-based-regular {
    grid-area: 1 / 1 / 2 / 2;
}

.fruit-based-large {
    grid-area: 1 / 2 / 2 / 3;
}

.fruit-based-regular,
.fruit-based-large {
    width: 100%;
    height: 120px;
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.fruit-based-regular-prices {
    grid-area: 2 / 1 / 3 / 2;
}

.fruit-based-large-prices {
    grid-area: 2 / 2 / 3 / 3;
}

.fruit-based-regular-prices,
.fruit-based-large-prices {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: 1.2rem;
}

.fruit-based-regular-prices p::before,
.fruit-based-large-prices p::before {
    content: "\20B1";
}

/* Food section */
.food-wrapper {
    grid-area: 4 / 1 / 5 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    justify-items: center;
    align-content: center;
    row-gap: 50px;
    padding-block: 50px;
    background-color: #EAD8C0;
}

.snacks-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.snacks-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / max-content 20% 1fr;
    justify-items: center;
    column-gap: 20px;
}

.snacks-item-card {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FFFFFF;
}

.snacks-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.snacks {
    width: 100%;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.snacks span {
    font-size: 0.9rem;
}

.snacks-price-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60px 1fr / 1fr;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #622F1B;
    border: 2px solid #622F1B;
}

.snacks-prices {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.snacks-prices p::before {
    content: "\20B1";
}

.snacks-img {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: 100%;
    background-image: url(../assets/snacks-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Burgers section */
.burger-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.burger-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr max-content 20%;
    justify-items: center;
    column-gap: 20px;
}

.burger-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/burger.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.burger-item-card {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FFFFFF;
}

.burger-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.burgers {
    width: 100%;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.burger-price-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60px 1fr / 1fr;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #622F1B;
    border: 2px solid #622F1B;
}

.burger-prices {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.burger-prices p::before {
    content: "\20B1";
}

/* Meals section */
.meals-container {
    width: 1200px;
    height: fit-content;
    align-content: center;
}

.meals-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / max-content 20% 20% 1fr;
    justify-items: center;
    column-gap: 20px;
}

.meals-item-card {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding-block: 20px;
    padding-inline: 40px;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #FFFFFF;
}

.meals-header {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
}

.meals {
    width: 100%;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}

.meals-price-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60px 1fr / 1fr;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #622F1B;
    border: 2px solid #622F1B;
}

.meals-prices {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.meals-prices p::before {
    content: "\20B1";
}

.meal-add-ons-card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 60px 1fr / 1fr;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #622F1B;
    border: 2px solid #622F1B;
}

.meal-add-ons {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
}

.meal-add-ons span::before {
    content: "\20B1";
}

.meals-img {
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
    height: 100%;
    background-image: url(../assets/meals.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer--menu {
    width: 100%;
    justify-items: center;
    font-size: 0.9rem;
    background-color: #EAD8C0;
}

.footer--menu > div > a {
    color: #000000;
}
