@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/* ------------------------------------------------- */

:root {
    --bg: #622F1B;
    --text: #FFFFFF;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    justify-items: center;
    font-family: Roboto;
}

header {
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 5px;
    background-color: var(--bg);
    color: var(--text);
}

header > div {
    width: 1200px;
    display: grid;
    grid-template: 1fr / repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}

header > div > div {
    font-size: 1.2rem;
}

header > div > nav {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 10px;
    font-size: 1.2rem;
}

nav > button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text);
}

nav > button:hover {
    font-weight: 700;
}

main {
    width: 1200px;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    /* border: 1px solid red; */
}

.headline {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: repeat(3, min-content) / 1fr;
    gap: 10px;
}

.heroText {
    width: 15ch;
    font-size: 3.5rem;
    font-weight: 700;
}

.heroSubText {
    width: 53ch;
    font-size: 1.2rem;
}

.signUpBtn {
    width: 150px;
    padding-block: 5px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--bg);
    color: var(--text);
    transition: transform 0.2s ease-in-out;
}

.signUpBtn:hover {
    transform: scale(1.05);
}

.imageDiv {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 300px;
    justify-items: end;
}

.homepageImg {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

footer {
    font-size: 0.9rem;
}

footer > div > a {
    color: black;
}